body{
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

footer{
    background-color: #ffffff;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container{
    margin-top: 5px;
    border-radius: 10px;
    padding: 50px 20px;
    text-align: center;
    background-color: #e9ecef;
    
}